<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>95DD8C1B0E3F6E6397103459800520D2</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
